/*colors*/

.red {
    background-color: red;
}

.red-border {
    border: 1px solid red;
}

.blue {
    background-color: blue;
}

.blue-border {
    border: 1px solid blue;
}

.violet {
    background-color: violet;
}

.green {
    background-color: green;
}

.green-border {
    border: 1px solid green;
}

/* Center to horizontal and vertical */
.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.flex-container-space-between {
     display: -webkit-flex;
     display: flex;
     -webkit-justify-content: space-between;
     justify-content: space-between;
}

.flex-container-space-around {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
}

/* Arrange as column */
.flex-container-column {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

/* Arrange as row */
.flex-container-row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}


/* Arrange as column from top */
.flex-container-column-top {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

/* Arrange as column to bottom */
.flex-container-column-bottom {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}


.flex-container-all {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row /* works with row or column */
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}


/* On the flex container */
.flex-container-multiple-rows {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    /* You can set flex-wrap and flex-direction individually */
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    /* Or do it all in one line with flex flow */
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    /* tweak the where items line up on the row */
    /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
    -webkit-align-content: flex-end;
    align-content: flex-end;
}



/*UI - dimensions*/

.big-item {
    /* This will be twice as big as the small item. */
    -webkit-flex: 2 0 0;
    flex: 2 0 0;
}
.small-item {
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
}

.small-square {
    width: 100px;
    height: 100px;
    margin: 2px;
}

.tiny-square {
    width: 50px;
    height: 50px;
    margin: 2px;
}

.short {
    height: 150px;
}

.medium {
    height: 275px;
}
.tall {
    height: 400px;
}
